
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Fjalla+One&display=swap');





#name{
    font-family: 'Catamaran', sans-serif;
}

#web{
    font-family: 'Inter', sans-serif;
}
.card-text{
    font-family: 'Square Peg', cursive;

}
#forbgcolor{
    background-color: #cae8eb;
}





